{{ ansible_managed | comment }}
OPTIONS="--web.listen-address={{ ansible_host }}:{{ item.port }} --collector.tcpstat --collector.systemd  --collector.diskstats.ignored-devices="^(ram|loop|fd|sr)\\d+$"  --collector.filesystem.ignored-mount-points="^/(sys|proc|dev|systemd|udev|none|snap)($|/)" --collector.filesystem.ignored-fs-types="^(sys|proc|auto|tmp|debug|squash)fs$""
