{
  "service":
  {
    "id": "{% if item.name == 'node_exporter' %}{{ ansible_hostname }}{% else %}{{ item.alias }}-{{ ansible_hostname }}{% endif %}",
    "name": "{{ item.alias }}",
    "address": "{{ ansible_host }}",
    "tags": ["{{ ansible_hostname }}"],
    "port": {{ item.port }}{% if item.name == 'redis_exporter' %},
    "meta": {
      "redis_host": {{ item.redis_host }},
      "redis_port": {{ item.redis_port }},
      "redis_alias": {{ item.redis_alias }},
      "redis_addr": {{ item.redis_addr }}
    }
    {% endif %}
  }
}
